body {
    background-color: var(--background);
}


.navbar, .navbar code {
    background-color: var(--navbar-color);
    color: var(--navbar-text-color);
}

.footer {
    background-color: var(--footer-color);
    height: 5em;
    color: white; padding-top: 2em;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.color1 {
    color: var(--color1);
    margin: 50vh 5em 
}

.color2 {
    color: var(--color2);
    margin: 10vh 5em;
}

.contacttext {
    color: var(--contacttext);
    margin: 19vh 5em
}

.telefoon {
    color: var(--telefoon);
    margin: 5vh 5em
}

.email {
    color: var(--email);
    margin: 5vh 5em
}

.discord {
    color: var(--discord);
    margin: 5vh 5em 
}

.img1 {
    background-color: var(--background-image);
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 25%;
}

.img2 {
    background-color: var(--background-image);
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 25%;
}

.card {
    background-color: var(--background-card);
    display: grid;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(310px, 5em));
    height: 80%;
    width: 80%;
    text-align: center;
    margin: 10% 0 10% 10%;
}

.card-img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 25%;
}