.dark-theme {
    --navbar-color: #0f0f0f;
    --navbar-text-color: #67FF67;
    --background: #292c35;
    --footer-color: #0f0f0f;
    --color1: #ffbb05;
    --color2: #ffb805;
    --contacttext: #ffb805;
    --telefoon: #ffb805;
    --email: #ffb805;
    --discord: #ffb805;
    --background-calculator: #7a7a7a;
    --button-color: #0f0f0f18;
    --background-image: #292c35;
    --title-color: #dedede;
    --text-color: #e9e9e9;
    --background-body: #292c35;
    --background-board: #3b3939;
    --text-board: #fff;
    --border-color: #000;
    --field-border: #484848; 
    --color3: #fff;
    --color4: #fff;
    --color5: #fff;
    --color6: #fff;
}

.light-theme {
    --navbar-color: #dedede;
    --navbar-text-color: #666666;
    --background: #fff;
    --footer-color: #666666;
    --color1: #666666;
    --color2: #666666;
    --contacttext: #666666;
    --telefoon: #666666;
    --email: #666666;
    --discord: #666666;
    --background-calculator: #c7c6c6;
    --button-color: #adaaaa69;
    --background-image: #fff;
    --title-color: #292e35;
    --text-color: #0f0f0f0f;
    --background-body: #f3f3f3;
    --background-board: #f3f3f3;
    --text-board: #000;
    --border-color: #8b8b8b;
    --field-border: #bebebe;
    --color3: #000;
    --color4: #000;
    --color5: #000;
    --color6: #000;
}