.dark-theme {
    --navbar-color: #0f0f0f;
    --navbar-text-color: #67FF67;
    --background: #292c35;
    --footer-color: #0f0f0f;
    --color1: #ffb805;
    --contacttext: #ffb805;
    --telefoon: #ffb805;
    --email: #ffb805;
    --discord: #ffb805;
}

.light-theme {
    --navbar-color: #dedede;
    --navbar-text-color: #666666;
    --background: #fff;
    --footer-color: #666666;
    --color1: #666666;
    --contacttext: #666666;
    --telefoon: #666666;
    --email: #666666;
    --discord: #666666;
}